.ipynb_checkpoints
.git
Online_Retail.xlsx:Zone.Identifier
.gitignore
HotelCustomersDataset.xlsx:Zone.Identifier
Formulas.jpg
Top 15 source markets.jpg
Correlation roomnights.jpg
Clusters.jpg
Cohorts segmentation.jpg