.ipynb_checkpoints
.git
Online_Retail.xlsx:Zone.Identifier
.gitignore
HotelCustomersDataset.xlsx:Zone.Identifier
Formulas.jpg
Top_15_source_markets.jpg
Correlation_roomnights.jpg
Clusters.jpg
Cohorts.jpg
Clusters.jpg:Zone.Identifier
Cohorts.jpg:Zone.Identifier
Top_15_source_markets.jpg:Zone.Identifier
Correlation_roomnights.jpg:Zone.Identifier